<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% load my_custom_tags %}
  <body>
    <div>
      <p>"{% random_car %}"</p>
    </div>
    <div>
      <p>Today's date is {% custom_date_format date %}</p>
    </div>
    <div>{{ my_date|date:"Y-m-d" }}</div>
    <div>{{ value|foo }}</div>
    <div>{{ value|boo:"3" }}</div>
    <div>{{ value|zoo:"3,4,5,6" }}</div>
  </body>
</html>
